#banner .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cadastroForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

#cadastroForm input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

#cadastroForm input:focus {
    border-color: #58b4c6;
    outline: none;
}

#cadastroForm button {
    padding: 12px;
    background-color: #58b4c6;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#cadastroForm button:hover {
    background-color: #f49c38;
}