 /* Banner inicial */
 #bannerHome {
    background: url('images/banner-home.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#bannerHome h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

#bannerHome p {
    font-size: 1.5em;
}

/* Seções */
section.wrapper {
    padding: 60px 20px;
}

.buttons-home {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.buttons-home a {
    padding: 14px 28px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #58b4c6;
    transition: 0.3s;
}

.buttons-home a:hover {
    background-color: #f49c38;
}